{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>{% block title %}elast.fm index page{% endblock %}</title>

    <link rel="canonical" href="/">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body class="b-body ">

<section class="container b-wrapper d-flex h-100 p-3 mx-auto flex-column {% block page_class %}{% endblock %}">
    <!-- message -->
    <div id="messageWrapper"></div>
    <!-- top navbar -->
    <section class="b-header mb-auto">
        <div class="b-wrapper clearfix">
            <h3 class="b-logo float-left">
                <a class="b-link" href="/"><b>e</b>last.fm</a>
            </h3>
            {% block topmenu %}
            <nav class="nav nav-masthead justify-content-center float-right">
                <a class="nav-link {% if active_page == 'index' %}active{% endif %}" href="/">Index</a>
                {% if isAuth %}
                    <a class="nav-link {% if active_page == 'profile' %}active{% endif %}" href="/profile">Profile</a>
                    <a class="nav-link" href="/logout">Logout</a>
                {% endif %}
            </nav>
            {% endblock %}
        </div>
        </div>
    </section>
    <main class="content b-content">
        {% block content %}
        {% endblock %}
    </main>
    {% block footer %}
    <section class="mastfoot b-footer mt-auto">
        <div class="b-wrapper clearfix">
            <div class="float-left b-logo">
                <p>
                    <a href="/"><b>e</b>last.fm</a>
                </p>
            </div>
            <div class="float-right">
                <p>
                    &copy;{% now "Y" %}
                </p>
            </div>
        </div>
    </section>
    {% endblock %}
</section>
<!-- Axios JS -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>



