{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="content b-content b-page-index">
    <h3 class="text-center">How does it work?</h3>
    <p></p>
    <!-- <p class="text-left">We just need your <a href="https://www.last.fm/">Last.fm</a> profile name, something like <b>Cherry_ICEE</b>. <br />Sounds like magic, huh?</p> -->
    <!-- <p>Then we will do all the magic, and you will be able to download, save, or move your <a href="https://www.last.fm/">Last.fm</a>
        media library!</p> -->
    {% if errors %}
    <p class="error">{{ errors }}</p>
    {% endif %}
    <form method="post" id="nickname_submit_form">
        {% csrf_token %}
        <p class="text-left">We don't need your <a href="https://www.last.fm/">Last.fm</a> password, email, credit card
            or any kind of personal info.</p>
        <div id="div_id_nickname" class="form-group">
            <p>
                <label for="nickname" class=" requiredField">
                    Just enter your last.fm username<span class="asteriskField">*</span>
                </label>
            <div>
                {{ form.nickname }}
            </div>
            </p>
        </div>
        <p>
            <button type="submit" id="submit" class="btn btn-success">Check username</button>
        </p>
    </form>
</section>
<script>
    // init spinner
    spinnerLoaderInit();
    const showMessage = showMessageScript;

    // redirect
    const redirectDelay = 1000;
    const redirectUrl = "/profile/1"

    const spinnerWrapper = document.getElementById("spinnerWrapper");
    if (!spinnerWrapper) throw new Error("Can't find spinnerWrapper node by id!");

    const form = document.getElementById("nickname_submit_form");
    if (!form) throw new Error(`Can't find html form element`);
    form.addEventListener("submit", (e) => {
        // prevent page reload
        e.preventDefault();
        // show spinner loader
        spinnerWrapper.classList.add("state__visible");

        // prepare form data
        const formData = new FormData(form);
        const result = {};
        for (let entry of formData.entries()) {
            result[entry[0]] = entry[1];
        }
        const data = JSON.stringify(result)
        // make http get request using axios
        axios.post("/check_lastfm_username/",
            data,
            {
                headers:
                    {
                        'X-CSRFToken': '{{ csrf_token }}',
                    }
            },
            {withCredentials: true}
        )
            .then((response) => {
                if ("success" in response?.data) {
                    // user exist
                    showMessage(response.data.success, "success")
                    // redirect
                    setTimeout(() => {
                        window.location = redirectUrl
                    }, redirectDelay)
                } else if ("error" in response?.data) {
                    // can't find user
                    showMessage(response.data.error, "danger")
                } else {
                    // something is broken
                }
                spinnerWrapper.classList.remove("state__visible");
            }).catch(reason => {
            spinnerWrapper.classList.remove("state__visible");
            console.log(`Can't post / ${reason.message ?? reason}`)
            showMessage(`${reason.message ?? reason}`, "danger")
        })


    });
</script>
{% endblock %}