{% extends 'base.html' %}

{% block title %}{{ lastfm_user.nickname|title }} profile page{% endblock %}
{% block page_class %}profile_page{% endblock %}
{% block content %}
{% block profile-section %}
<div class="b-wrapper clearfix">
    <h3 class="b-profile-header"><span>{{ lastfm_user.nickname }}</span></h3>
    <div class="profile-caption float-left">
        <p><img src="{{ lastfm_user.avatar_url }}" class="profile-avatar rounded-circle" alt="Avatar"/></p>
    </div>
    <div class="profile-summary float-left">
        <p>Total scrobbled tracks: <b>{{ lastfm_user.total_scrobbled_tracks }}</b></p>
        <p>Total artists: <b>{{ lastfm_user.total_artists }}</b></p>
        <p>Total loved tracks: <b>{{ lastfm_user.total_loved_tracks }}</b></p>
    </div>
</div>
{% endblock %}
{% if track_list %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Track Name</th>
        <th scope="col">Artist</th>
        <th scope="col">Url</th>
        <th scope="col">Download</th>
    </tr>
    </thead>
    <tbody>
    {% for track in track_list %}
    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ track.track }}</td>
        <td>{{ track.artist }}</td>
        <td>{{ track.url }}</td>
        <td class="text-center">
            {% if track.url %}
            <a class="btn download" href="/download_track/?track_id={{ track.pk }}">
                <i class="bi bi-file-earmark-arrow-down" role="img" aria-label="download"></i>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- pagination -->
{% include 'pagination.html' with total_pages_range=total_pages_range pagination_current_page=pagination_current_page pagination_total_pages=pagination_total_pages %}
{% else %}
    {% if lastfm_user.total_loved_tracks == '0'  %}
        <p>No tracks for this user has been found. Try to like some tracks on <a href="https://www.last.fm/">Last.fm</a></p>
    {% endif %}
{% endif %}
{% endblock %}